{% extends "base.html" %}
 
{% block content %}

  {% if form.errors %}
    <p><b>Your username and password didn't match. Please try again.</b></p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p><b>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</b></p>
    {% else %}
      <p class="login-form-input"><b>Please login to see this page.</b></p>
    {% endif %}
  {% endif %}
  
  <form class="login-form-input" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    
      <div class="login-form-input">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
    
      <div class="login-form-input">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>
    
    <input type="submit" value="Login" id="login_button"/>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
{% endblock %}