{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yoga & Dance School</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <header id="header">
        <a href="{% url 'start' %}">
            <h1>༺ Yoga & Dance School ༻</h1>
        </a>

        <div class="menu">
            <h3><a href="{% url 'start' %}">Home</a></h3>

            <h3><a href="{% url 'price' %}">Price</a></h3>

            <h3><a href="{% url 'timetable' %}">Timetable</a></h3>
            
            <h3><a href="{% url 'reviews' %}">All reviews</a></h3>

            <h3><a href="{% url 'contacts' %}">Contact us</a></h3>
        </div>
        

        <div class="log_in_out">
            {% if user.is_authenticated %}
                <h4>Hello, {{ user.get_username }}!</h4>
                {% if perms.main.add_review %}
                    <h4><a href="{% url 'add_model' %}">Add a review</a></h4>
                {% endif %}
                
                <h4><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></h4>
            {% else %}

                <h4><a href="{% url 'login' %}?next={{ request.path }}">Login</a></h4>  
          
            {% endif %}

                 
        </div>
    </header>

    
    <div class="container">
            <div class="column">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    

    <footer id="footer">
        <div>©2023 | Yoga & Dance School</div>
    </footer>
</body>
</html>