{% extends 'base.html' %}

{% block content %}
    <h2 class="headline">All reviews</h2>
    {% for r in reviews %}
        <a class="rating" href="{% url 'review' r.id %}">
            <h2><b>Rating:</b> {{ r.rating }}
                {% if r.id in viewed_reviews %}
                    <small><em>| viewed</em></small>
                {% endif %}
            </h2>
        </a>
        <p><b>Type of classes:</b> {{ r.type_of_classes }}</p>
        <p><b>Review:</b> {{ r.content }}</p>
        <img width="15%" src ="{{ r.image.url }}"/>
        <p ><b>Author:</b> {{ r.author.name }} | <small><em>{{ r.date_publish }}</em></small></p>

        <hr>
    {% endfor %}
    
    
{% endblock %}