header, footer {
  background: #151b17;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header {
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;  
}

h1 {
  margin-left: 5px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: 1px 3px 5px rgb(167, 30, 20);
}

.log_in_out{
  align-self:self-start;
}

.menu h3 {
  display: inline-block;
  margin: 5px 20px;
  font-style: italic;
  font-size: 20px;
}

.log_in_out h4 {
  display: inline-block;
  margin: 5px 10px;
  color: rgb(255, 255, 255);
}

header a:link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header a:hover {
  text-decoration: underline;
  color:rgb(12, 117, 159)
}

body {
  margin: 0;
  padding: 0;
}

.headline {
  text-align: center;
  margin:0;
}

.back {
  text-align: right;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 0 0 0;
  background-image: url("/media/Fon_green4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 91vh;
}

.column {
  flex-basis: calc(70% - 15px);
  background-color:#46574c6f;
  /* margin-bottom: 15px; */
  padding: 15px;
  box-sizing: border-box;
  text-align: justify;
  color: #e5e3df;
}

.column:last-child {
  margin-bottom: 0;
}

#footer {
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;   
  color: rgb(255, 255, 255);
}

#footer div {
  margin: 5px;
}

.table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  margin: auto;
  margin-top: 10px;
  background: rgba(140, 144, 103, 0.486);
}

.table td:first-child {
  text-align: center;
}

.table th {
  background-color: rgb(19, 29, 24);
}

.timetable, tr, th, td {
  border: 1px solid rgb(172, 161, 161);
  border-collapse: collapse;
  padding: 5px;
  margin: auto;
  margin-top: 10px;
  background: rgba(140, 144, 103, 0.486);
}

.timetable th {
  background-color: rgb(19, 29, 24);
}

.timetable th, td:not(:first-child) {
  text-align: center;
}

.contacts {
  text-align: center;
}

.start {
  font-size: 24px;
  text-align: center;
  margin: 10px 50px;
}

#button {
  display: inline-block; /* Строчно-блочный элемент */
  background: rgb(134, 181, 186); /* Серый цвет фона */
  color: #fff; /* Белый цвет текста */
  padding: 1rem 1rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 3px; /* Скругляем уголки */
}

.photo_direction_wraper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
}

.photo_main {
  width: 100%;
  /* background-size: cover; */
}

.form {
  border-radius: 10px;
}

.login-form-input {
  text-align: center;
  margin: 20px 0 20px 0;
  border-radius: 10px;
}

#login_button, #add_button {
  display: inline-block; /* Строчно-блочный элемент */
  background: rgb(134, 181, 186); /* Серый цвет фона */
  color: #fff; /* Белый цвет текста */
  padding: 5px 10px; /* Поля вокруг текста */
  border-radius: 3px; /* Скругляем уголки */
}

.rating {
  color: rgb(196, 189, 12);
}
